<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ALF.MSSQL.Properties.Settings.eduData2015DBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=eduData2015DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>